body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 100%;
}

h1 {
    color: #002080;
    font-size: 30px;
}

h2 {
    color: #990000;
    font-size: 20px;
}

h3 {
    color: #000000;
    font-size: 20px;
}

header, footer {
    width: 100%;
    background-size: cover;
    background-position: center;
}

header, footer {
    background-image: url('https://live.staticflickr.com/65535/54259989901_798d5163dc_o.jpg');
}

.header-content, .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content img, .footer-content img {
    max-width: 1125px;
    width: 100%;
    height: auto;
}

.big {
   max-width: 1125px;
   height: auto;
}

.small {
   display: none;
}


@media(max-width: 330px) {

.big {
   display: none;
}

.small {
   display: block;
   max-width: 330px;
   height: auto;
}
}

.container {
    width: 100%;
    text-align: center;
    background-image: url('https://live.staticflickr.com/65535/54260422693_80c96b8ff4_o.jpg');
    background-repeat: repeat;
    background-position: center; 
}

.container img {
    max-width: 808px;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.text {
    margin: 20px auto 0px auto;
    max-width: 880px;
    text-align: left;
    line-height: 130%;
    padding-top: 20px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
}

.imlink {
    position: relative; 
    display: inline-block; 
    width: 100%;
    max-width: 580px;
    margin-bottom: 80px; 
    padding-top:15px;
}

.imlink a {
    display: block; 
    width: 100%;
    height: auto;
}

.imlink a img {
    width: 100%; 
    height: auto; 
    margin: 0; 
    display: block; 
    position: absolute; 
    transition: opacity 0.3s ease; 
    border: 1px solid white; 
    border-radius: 15px;
}

img.button1 {
    opacity: 1; 
}

img.button2 {
    opacity: 0;
}

.imlink a:hover img.button1 {
    opacity: 0; 
}

.imlink a:hover img.button2 {
    opacity: 1; 
}

@media (max-width: 600px) {
    .imlink {
        margin-bottom: 60px;
    }

    h1 {
        font-size: 26px; 
    }

    h2 {
        font-size: 18px; 
    }

    h3 {
        font-size: 18px; 
    }

    .text {
        line-height: 125%; 
    }
}

@media (max-width: 500px) {
    .imlink {
        margin-bottom: 50px;
    }
}

@media (max-width: 400px) {
    .imlink {
        margin-bottom: 40px;
    }
}

@media (max-width: 300px) {
    .imlink {
        margin-bottom: 30px; 
    }

    h1 {
        font-size: 26px; 
    }

    h2 {
        font-size: 18px; 
    }

    h3 {
        font-size: 18px;
    }

    .text {
        line-height: 120%; 
        padding-left: 5px; 
    }

}
